<!DOCTYPE html>
<html>
<head>
  <title>About Us</title>
    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootswatch@4.5.2/dist/lumen/bootstrap.min.css" integrity="sha384-GzaBcW6yPIfhF+6VpKMjxbTx6tvR/yRd/yJub90CqoIn2Tz4rRXlSpTFYMKHCifX" crossorigin="anonymous">
   
    <!-- Our CSS -->
    <link rel="stylesheet" type="text/css" href="static/css/style.css">

</head>
<body>
  <nav class="navbar navbar-expand-lg bg-primary" data-bs-theme="dark">
    <div class="container-fluid">
      <a class="nav-link home-link" href="/">Home</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarColor01">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="/index"> European Studios Map</a>
          </li>            
          <li class="nav-item">
            <a class="nav-link" href="/games_db">Leaderboard Visualizations</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/about_us">About Us</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <div class="container">
    <h1>Meet the Players</h1>
    <br>
    <div class="row">
      <div class="col-md-4">
        <h2>Player 1</h2>
        <img src="static/images/Armor.jpg" alt="Team Member 1" class="img-fluid">
        <p>Name: Emmanuel Presley.</p>
          <br>
        <p>I'm an extraordinary soul forced to live an ordinary life, I find passion in life by gaming, welding, and building armor for the yearly rennaissance fair. I'm on a never ending quest to catch up all the anime episodes that my friends keep telling me to watch!</p>
        <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAMAAADXqc3KAAAAbFBMVEX///8AAAAkKS4lKi/8/Pz4+PgTGiBBRUkWHCK0tbdmaW3o6Ojd3t8qLzQhJyyRk5QaICVHS07AwcJLUFMABhIKExt+gILV1tdXWl26u7wAAAcxNjsJFh/Q0NGsra8dIyp1eHs6PkKipKVeYmTLhpm7AAABMElEQVQokWWR65KDIAyFCXcUUBCs1npb3/8dN2K3Y2fzQ2dycjn5IKQEr02lnFOVqTm5hW0ySE+pl5Ab+0mLOIBnjGIw5uGI4p1flGxpyaNC2xxMUfioWtc9JRZjm4Ru0iGW+Z1OPY8BAF4AKvIm6QH38AYYnBXFzfmZMdFwUmfPYLlbNMD8WpffK96FWftzRiVZ3sRdEH1muSdqpcmQrzCJth1xnub4LcTV+x0FBv87vMNRLDVf4PAQtnZky6zd7V2wqkU/ZASq092W2DJlMJJ6dVVI/Ydo7JH/eSAi2WyXXFjECTo472lBQuwADZmmYT4bHp1E9vKEiNj3PNfxUWbVh6Z0VSO/HmoKP+ZaYg/NtFr+FhoF/rCXgC81fjxy2z/DJaBBez9X2GuHsPZd/gv/2RFC5ad7HQAAAABJRU5ErkJggg==" alt="Emmanuel's Github Profile">
        <a href="https://github.com/EmanPresley">Emmanuel's Github Profile</a>
      </div>
      <div class="col-md-4">
        <h2>Player 2</h2>
        <img src="static/images/shanara.jpg" alt="Team Member 2" class="img-fluid">
        <p>Name: Shanara.</p>
        <br>
        <p>Believer, basketball mom, & blanket lover who always roots for the underdog.</p>
        <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAMAAADXqc3KAAAAbFBMVEX///8AAAAkKS4lKi/8/Pz4+PgTGiBBRUkWHCK0tbdmaW3o6Ojd3t8qLzQhJyyRk5QaICVHS07AwcJLUFMABhIKExt+gILV1tdXWl26u7wAAAcxNjsJFh/Q0NGsra8dIyp1eHs6PkKipKVeYmTLhpm7AAABMElEQVQokWWR65KDIAyFCXcUUBCs1npb3/8dN2K3Y2fzQ2dycjn5IKQEr02lnFOVqTm5hW0ySE+pl5Ab+0mLOIBnjGIw5uGI4p1flGxpyaNC2xxMUfioWtc9JRZjm4Ru0iGW+Z1OPY8BAF4AKvIm6QH38AYYnBXFzfmZMdFwUmfPYLlbNMD8WpffK96FWftzRiVZ3sRdEH1muSdqpcmQrzCJth1xnub4LcTV+x0FBv87vMNRLDVf4PAQtnZky6zd7V2wqkU/ZASq092W2DJlMJJ6dVVI/Ydo7JH/eSAi2WyXXFjECTo472lBQuwADZmmYT4bHp1E9vKEiNj3PNfxUWbVh6Z0VSO/HmoKP+ZaYg/NtFr+FhoF/rCXgC81fjxy2z/DJaBBez9X2GuHsPZd/gv/2RFC5ad7HQAAAABJRU5ErkJggg==" alt="Emmanuel's Github Profile">
        <a href="https://github.com/ShanaraTech">Shanara's Github Profile</a>
      </div>
      <div class="col-md-4">
        <h2>Player 3</h2>
        <img src="static/images/img_1172_720.png" alt="Team Member 3" class="img-fluid">
        <p>Name: Shauntel Phillips.</p>
        <br>
        <p>Hey, I’m Shauntel full time nerd, part time data analyst, and semi pro Wordle player. I’ve been in the field of data analytics for 2.5 years, specifically in the food & beverage sectors of the hospitality industry. I like to build Legos and watch anime when I’m not manipulating data for a living. Have fun on our dashboard, it’s built for the gamer experience.<img src="https://a.slack-edge.com/production-standard-emoji-assets/14.0/google-medium/270c-1f3fd@2x.png" alt="peace" class="img-fluid"></p>
        <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAMAAADXqc3KAAAAbFBMVEX///8AAAAkKS4lKi/8/Pz4+PgTGiBBRUkWHCK0tbdmaW3o6Ojd3t8qLzQhJyyRk5QaICVHS07AwcJLUFMABhIKExt+gILV1tdXWl26u7wAAAcxNjsJFh/Q0NGsra8dIyp1eHs6PkKipKVeYmTLhpm7AAABMElEQVQokWWR65KDIAyFCXcUUBCs1npb3/8dN2K3Y2fzQ2dycjn5IKQEr02lnFOVqTm5hW0ySE+pl5Ab+0mLOIBnjGIw5uGI4p1flGxpyaNC2xxMUfioWtc9JRZjm4Ru0iGW+Z1OPY8BAF4AKvIm6QH38AYYnBXFzfmZMdFwUmfPYLlbNMD8WpffK96FWftzRiVZ3sRdEH1muSdqpcmQrzCJth1xnub4LcTV+x0FBv87vMNRLDVf4PAQtnZky6zd7V2wqkU/ZASq092W2DJlMJJ6dVVI/Ydo7JH/eSAi2WyXXFjECTo472lBQuwADZmmYT4bHp1E9vKEiNj3PNfxUWbVh6Z0VSO/HmoKP+ZaYg/NtFr+FhoF/rCXgC81fjxy2z/DJaBBez9X2GuHsPZd/gv/2RFC5ad7HQAAAABJRU5ErkJggg==" alt="Emmanuel's Github Profile">
        <a href="https://github.com/sphilli">Shauntel's Github Profile</a>
      </div>
</body>
</html>